body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  display: flex;
  justify-content: center;
}

header, footer {
  background-color: rgb(19, 144, 94);
  color: rgb(219, 211, 189);
  padding: 10px;
  font-weight: bold;
  font-size: large;
  margin: 1rem 0;
}